{% extends "layout.html" %}

{% block title %}Buy{% endblock %}

{% block body %}
    <h1>Buy Shares</h1>
    <form action="/buy" method="post">
        <div>
            <label for="symbol">Stock Symbol:</label>
            <input type="text" id="symbol" name="symbol" placeholder="Symbol" required autofocus autocomplete="off">
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" placeholder="Shares" required autocomplete="off" min="1">
        </div>
        <div>
            <button type="submit">Buy</button>
        </div>
    </form>
{% endblock %}