{% extends "layout.html" %}

{% block title %}Error {{ errorcode }}{% endblock %}

{% block body %}
<div class="d-flex align-items-center" style="min-height: calc(100vh - 56px);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 col-sm-10 rounded p-5" style="background-color: #F4DFC8; color: black; font-family: 'Poppins', sans-serif;">
                <h2 class="text-center mb-4">Error {{ errorcode }}: {{message}}!</h2>
                <img src="static/error.png" width="300px" height="300px" style="padding-left: 50px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}