{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block body %}
<div class="container mt-5">
    <table class="table table-striped" style="color: black; font-family: 'Poppins', sans-serif; border-radius: 0.5rem; overflow: hidden;">
        <thead style="background-color: #F4DFC8;">
            <tr>
                <th class="text-start" style="background-color: #F4DFC8;">Symbol</th>
                <th class="text-end" style="background-color: #F4DFC8;">Shares</th>
                <th class="text-end" style="background-color: #F4DFC8;">Value</th>
                <th class="text-end" style="background-color: #F4DFC8;">Transacted On</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td style="text-transform: uppercase;" class="text-start">{{ transaction["symbol"] }}</td>
                <td class="text-end">{{ transaction["shares"]}}</td>
                <td class="text-end">{{ transaction["cost"] | usd }}</td>
                <td class="text-end">{{ transaction["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
