{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th class = "text-start">Symbol</th>
                <th class = "text-end">Shares</th>
                <th class = "text-end">Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol, total_shares, total_price in holdings %}
            <tr>
                <td style="text-transform: uppercase;" class = "text-start">{{ symbol }}</td>
                <td class = "text-end">{{ total_shares }}</td>
                <td class = "text-end">{{ total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" class = "text-end">Cash:</th>
                <td class = "text-end">{{ wallet }}</td>
            </tr>
            <tr>
                <th colspan="3" class = "text-end">Total:</th>
                <td class = "text-end">{{ total }}</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}