{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mt-5">
    <table class="table table-striped" style="color: black; font-family: 'Poppins', sans-serif; border-radius: 0.5rem; overflow: hidden;">
        <thead style="background-color: #F4DFC8;">
            <tr>
                <th class="text-start" style="background-color: #F4DFC8;">Symbol</th>
                <th class="text-end" style="background-color: #F4DFC8;">Shares</th>
                <th class="text-end" style="background-color: #F4DFC8;">Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol, total_shares, total_price in holdings %}
            <tr>
                <td style="text-transform: uppercase;" class="text-start">{{ symbol }}</td>
                <td class="text-end">{{ total_shares }}</td>
                <td class="text-end">{{ total_price | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" class="text-end" style="background-color: #F4DFC8;">Cash:</th>
                <td class="text-end" style="background-color: #F4DFC8;">{{ wallet | usd }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-end" style="background-color: #F4DFC8;">Total:</th>
                <td class="text-end" style="background-color: #F4DFC8;">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}