{% extends "layout.html" %}

{% block title %}Sell{% endblock %}

{% block body %}
<div class="d-flex align-items-center" style="min-height: calc(100vh - 56px);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 col-sm-10 rounded p-5" style="background-color: #F4DFC8; color: black; font-family: 'Poppins', sans-serif;">
                <form action="/sell" method="post">
                    <h1 class="text-center mb-5">Sell Stock</h1>
                    <div class="mb-3">
                        <input type="text" id="symbol" class="form-control" name="symbol" placeholder="Stock Symbol" required autofocus autocomplete="off">
                    </div>
                    <div class="mb-5">
                        <input type="number" id="quantity" class="form-control" name="shares" placeholder="Shares" autocomplete="off" min="1" required>
                    </div>
                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-primary btn-block w-100">Sell</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}